/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.typedText {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
  color: #000;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}


/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
 
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/*codinf profile*/

#coding-profiles {
  position: relative;
}

.coding-platform-logo {
  border-radius: 2rem;
  width: 70%;
  height: 70%;
}
.coding-title {
  margin: 1rem;
  color: black;
}



/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}
.contact-info-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-info-container img {
  margin-right: 10px; /* Adjust as needed for spacing */
}
/* Add this to your existing CSS */
/* Add this to your existing CSS */
/* #coding-platforms {
  margin-top: 20px;
} */
/* 
#coding-platforms h2 {
  font-size: 3rem;
}

.coding-platform-container {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.coding-platform-logo {
  width: 24px; 
 height: 24px;
  margin-right: 5px;
}

#coding-platforms {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.coding-platform-container {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 10px;
  overflow: hidden;
  padding: 12px;
  flex: 1;
  max-height: 100px; /* Adjust the maximum height as needed 
}
#coding-platforms a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: color 0.3s ease-in-out;
}

#coding-platforms a:hover {
  color: grey;
} */ 

#skills{
  position: relative;

  background-color: transparent;
  
}


.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
/* Add this block to your existing CSS or create a new section */
#skills {
  
  padding: 50px 0;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill-item {
  width: 45%;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #333; /* Change the border color to a darker shade, you can adjust the hex code as needed */
  border-radius: 8px;
  box-sizing: border-box; /* Ensure that padding is included in the total width */
}

.skill-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}


/* Add more styling as needed */
/* Existing styles */

body {
  /* Existing body styles */
  background-color: #fff; /* Set your default background color */
  color: #333; /* Set your default text color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333; /* Set your dark mode background color */
  color: #fff; /* Set your dark mode text color */
}

#dark-mode-toggle {
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#dark-mode-toggle:hover {
  background-color: #555;
}

#skills-chart {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to full viewport height */
}

.skills-chart-container {
  text-align: left;
  transition: all 0.3s ease; /* Add transition for all properties over 0.3 seconds with ease timing function */
}

.skills-chart-container:hover {
  transform: scale(1.05); /* Scale the container on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow on hover */
}

/* General transition for all elements */
* {
  transition: all 0.3s ease;
}

/* Navigation */
#desktop-nav, #hamburger-nav {
  transition: background-color 0.3s ease;
}

.nav-links a {
  transition: color 0.3s ease;
}

/* Buttons */
.btn {
  transition: background-color 0.5s ease, color 0.3s ease, transform 0.3s ease;
}

/* Icons */
.icon {
  transition: transform 0.5s ease;
}

/* Arrow icon */
.arrow {
  transition: transform 0.5s ease;
}

/* Dark mode toggle button */
#dark-mode-toggle {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Profile picture */
.section__pic-container img {
  transition: transform 0.5s ease;
}

/* Social media icons */
#socials-container img {
  transition: transform 0.5s ease;
}

/* Section titles */
.title {
  transition: color 0.5s ease;
}

/* Skill items */
.skill-item {
  transition: transform 0.5s ease;
}

/* Radar chart */
#skills-chart {
  transition: transform 0.5s ease;
}

/* Experience article containers */
.article-container {
  transition: transform 0.5s ease;
}

/* Project images */
.project-img {
  transition: transform 0.5s ease;
}

/* Coding platform logos */
.coding-platform-logo {
  transition: transform 0.5s ease;
}

/* Contact icons */
.contact-icon {
  transition: transform 0.3s ease;
}

/* Footer links */
footer a {
  transition: color 0.3s ease;
}

/* Hover effects */
.btn:hover,
.nav-links a:hover,
.icon:hover,
.arrow:hover,
#dark-mode-toggle:hover,
.section__pic-container img:hover,
#socials-container img:hover,
.title:hover,
.skill-item:hover,
#skills-chart:hover,
.article-container:hover,
.project-img:hover,
.coding-platform-logo:hover,
.contact-icon:hover,
footer a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Dark mode toggle hover effect */
#dark-mode-toggle:hover {
  background-color: #2c3e50; /* Change to your desired hover background color */
  color: white; /* Change to your desired hover text color */
}

/* Footer links hover effect */
footer a:hover {
  color: #3498db; /* Change to your desired hover text color */
}


/* Add this code to your CSS or modify existing styles */
#feedback {
 /* Light background color */
  padding: 30px;
  margin: 20px 0;
  border-radius: 15px;
}

.feedback-form-container {
  max-width: 500px;
  margin: 0 auto;
}

#feedbackForm {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px;
  background-color: #4CAF50; /* Green color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker green color on hover */
}

/* Add border radius only to the profile picture in .c2 container */
.section__pic-container.c2 img {
  border-radius: 50%;
  /* overflow: hidden;
  width: 100%;
  height: auto; */
}

/* Add border in dark mode for contrast */
/* .dark-mode .section__pic-container.c2 img {
  border: 2px solid #fff; /* Adjust the border color as needed */
 */


/* Add border to the skills section */


/* Add border to individual skill items */


/* Add border in dark mode for contrast */
.dark-mode #skills {
  border-color: #fff; /* Adjust the dark mode border color as needed */
}

.dark-mode .skill-item {
  border-color: #fff; /* Adjust the dark mode border color as needed */
}

#skills-chart {
  text-align: center;
}

#skills-chart .title {
  margin-top: 1rem; /* Adjust the margin as needed */
}

#skills-chart #skillsRadarChart {
  display: block;
  margin: 0 auto;
}
.dark-mode section#experience {
}

.dark-mode section#experience h1
.dark-mode section#experience p{
  color: #fff;
}
.dark-mode section#experience h2
{
      color: #555;
}
.dark-mode section#experience h3
{
  color: #000;
}
.dark-mode section#experience p {
  color: #555; 
}

/* Dark mode styles for the arrow icon */
.dark-mode .icon.arrow {
  filter: invert(1); /* Invert the color for a dark appearance */
}

/* Additional styles to make sure the arrow is visible in dark mode */
.dark-mode .icon.arrow {
  border: 2px solid #fff; /* Adjust the border color as needed */
  
  padding: 5px;
}
